*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#main-container {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #c9c9c9;
}

#header {
  width: fit-content;
  margin-inline: auto;
  padding-block: 1.5em;
  font-size: 2.5em;
  color: #ff6f61;
  text-shadow: 2px 1px #e3e3e3, 0px 0px 4px #363636;
}

#header h1 {
  font-family: 'Leckerli One', cursive;
}

#search-box-container {
  width: 100%;
  padding-block-end: 3em;
}

#search-box {
  display: block;
  position: relative;
  width: 30%;
  margin-inline: auto;
  padding-inline-start: 0.5em;
  padding-block: 0.3em;
  font-size: 1.2em;
}

#search-box::placeholder {
  opacity: 50%;
}

/* Table */

#table-container {
  width: 100%;
  overflow-x: auto;
}

#table {
  width: 90%;
  margin-inline: auto;
  border-collapse: collapse;
  color: #e3e3e3;
}

#table > *:hover {
  cursor: default;
}

#table-caption {
  background-color: #ff6f61;
  padding: 0.2em 0.5em;
  font-size: 2em;
  color: #121212;
}

thead {
  background-color: #e3e3e3;
  color: #121212;
}

thead th {
  font-size: 1.4em;
  text-align: left;
  padding: 0.3em 0.5em;
  position: relative;
  user-select: none;
}

thead th.asc::after {
  content: '⬇';
  display: inline-block;
  position: absolute;
  top: 0.5em;
  margin-inline-start: 0.6em;
  font-size: 0.7em;
  color: #ff6f61;
}

thead th.des::after {
  content: '⬆';
  display: inline-block;
  position: absolute;
  top: 0.5em;
  margin-inline-start: 0.6em;
  font-size: 0.7em;
  color: #ff6f61;
}

tbody {
  letter-spacing: 1px;
}

tbody tr {
  background-color: #545454;
}

tbody tr:nth-child(even) {
  background-color: #363636;
}

tbody tr:hover {
  background-color: #ffd0cc;
  color: #363636;
}

tbody tr td {
  padding: 0.3em 0.6em;
  font-size: 1.2em;
}

tbody tr td:first-child {
  color: #ffd0cc;
}

tbody tr:hover > td:first-child {
  color: #121212;
}

/* Form */

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  width: 600px;
  margin-block-start: 4em;
  padding-block-end: 1em;
  background-color: #ffd0cc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px #ff6f61;
}

#form-title {
  font-size: 2.5em;
  font-weight: 800;
  color: #363636;
  padding-block: 0.5em 1em;
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-block-end: 1.5em;
  font-size: 1.2em;
}

.order-container input {
  width: 400px;
  padding-inline-start: 0.5em;
  padding-block: 0.3em;
  font-size: 1em;
  border-radius: 5px;
}

.order-container:last-child {
  justify-content: center;
  padding-block-start: 1em;
}

#submit {
  width: 90%;
  background-color: #363636;
  color: #c9c9c9;
  padding-block: 0.5em;
  transition: background-color 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  font-weight: 600;
}

#submit:hover {
  width: 92%;
  background-color: #ff6f61;
  color: #363636;
}

.hidden {
  display: none;
}

/* Footer */

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin-block-start: 4em;
  padding-inline: 5%;
  padding-block: 12px;
  overflow: hidden;
  font-size: 90%;
  color: #c9c9c9;
  background-color: #545454;
}
#footer a {
  padding-inline-start: 0.5em;
  color: #363636;
  text-decoration: none;
  text-shadow: 1px 1px 2px #ffd0cc, 0 0 1em #ff6f61, 0 0 0.2em #ffd0cc;
}
#footer a:hover {
  color: #ff6f61;
  text-shadow: 1px 1px 2px #ff6f61, 0 0 1em #ffd0cc, 0 0 0.2em #d728ca;
}

/* RWD Tweaks */

@media only screen and (max-width: 900px) {
  #header {
    font-size: 5vw;
  }

  #search-box {
    width: 80%;
    font-size: 90%;
  }

  #table {
    font-size: 80%;
  }

  #form {
    width: 80%;
    font-size: 80%;
  }

  .order-container {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  #footer {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    padding: 0.5em 0 0.3em 0;
    font-size: 80%;
  }
}

@media only screen and (max-width: 350px) {
  #table {
    font-size: 50%;
  }

  #form {
    width: 80%;
    font-size: 50%;
  }

  .order-container {
    width: 80%;
  }
}
